name: API

on:
  push:
    branches: [ "master" ]
    paths-ignore:
      - ".github/workflows/ui.yml"
      - "development"
      - "ui/**"
      - ".gitignore"
      - "README.md"
  pull_request:
    branches: [ "master" ]
    paths-ignore:
      - ".github/workflows/ui.yml"
      - "development"
      - "ui/**"
      - ".gitignore"
      - "README.md"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: Swatinem/rust-cache@v2
    - name: Lint
      run: cargo install cargo-machete && make lint
    - name: Run tests
      run: cargo test --verbose
